:root {
    --level-1: #8dccad;
    --level-2: #f5cc7f;
    --level-3: #7b9fe0;
    --level-4: #f27c8d;
    --black: black;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ol {
    list-style: none;
  }
  body {
    margin: 50px 0 100px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  .container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .rectangle {
    position: relative;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  .level-1{
    width: 50%;
    margin: 0 auto 40px;
    background: var(--level-1);
  }

  .level-1::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-100%);
    width: 2px;
    height: 40px;
    background: var(--black);
  }

  .level-1_2{
    width: 40%;
    margin: 0 auto 40px;
    background: var(--level-1);
  }

  .level-1_2::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-100%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
